@@include('header.htm')
@@include('blocks/nav-2.htm')

<section class="section banner pb-lg-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2>I provide <span class="text-color">Design Solutions.</span> <br>My work is presented here, check out the GitLab Repositories below.</h2>
			</div>
		</div>
	</div>
</section>

@@include('blocks/portfolio-home-masonary.htm')

@@include('blocks/footer.htm')
@@include('footer.htm')
