@@include('header.htm')
@@include('blocks/nav-2.htm')
@@include('blocks/page-title.htm', {
"title": "Get in Touch",
"description": "Contact Sam."
})
<!-- contact form start -->
<section class="contact section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-4">
                <h4>Address</h4>
                <p>Dallas, Texas</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>Contact</h4>
                 <p class="mb-0">sam.m.major@gmail.com</p>
                <p class="mb-0">469.509.3883</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>Get My Resume</h4>
				<a class="btn btn-main" role="button" href="Sam Major Resume.pdf"
				download="Sam Major Resume.pdf">
			   Download My Resume
			 </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center my-5 contact-title">
                    <h2>Contact Me</h2>
                </div>

                <form id="contact-form" class="contact__form mt-5" method="post" action="mail.php">
             <!-- form message -->
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success contact__msg" style="display: none" role="alert">
                            Your message was sent successfully.
                        </div>
                    </div>
                </div>
                <!-- end message -->
                <div class="form-row">
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <input name="name" type="text" class="form-control" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <input name="name" type="text" class="form-control" placeholder="Your Subject">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <input name="email" type="email" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="col-lg-12">
                         <div class="form-group-2 mb-4">
                            <textarea name="message" class="form-control" rows="6" placeholder="Your Message"></textarea>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-main" name="submit" type="submit">Send Message</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>


@@include('blocks/footer.htm')
@@include('footer.htm')
