@@include('header.htm')
@@include('blocks/nav-2.htm')
@@include('blocks/page-title.htm', {
"title": "To Do Tracker",
"description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quam."
})


<section class="section portfolio-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img src="images\plan_your_week.jpg" alt="" class="img-fluid w-100">
			</div>

			<div class="col-lg-6">
				<div class="project-info">
					<h3 class="mb-4">Description</h3>
					<p>This is app is personal organizer. Create a company and assign employees to the company. Create projects and tasks. Assign to a specific person. Gantt charts monitor project progress</p>

					<p>This is a Django project using SQLite3 as the database. The graphic human interface is created using HTML templates. Styling is done strictly with CSS.</p>

					<div class="row mt-4">
						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Role</h5>
								<p>Full Stack Developer</p>
							</div>

							<div class="info">
								<h5 class="mb-0">Year</h5>
								<p>2023</p>
							</div>
							<div class="mt-4">
								<a href="https://gitlab.com/smmajor/to-do-tracker" class="btn btn-main btn-small">View project</a>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Category</h5>
								<p>App Design</p>
								<p>Web Design</p>
							</div>
							<div class="info">
								<h5>Share</h5>
								<a href="#"><i class="ti-facebook"></i></a>
								<a href="#"><i class="ti-twitter"></i></a>
								<a href="#"><i class="ti-pinterest"></i></a>
								<a href="#"><i class="ti-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="portfolio-wanderlist.html" class="btn btn-dark">Previous Work</a>
				<a href="portfolio-auto_haven.html" class="btn btn-dark">Next Work</a>
			</div>
		</div>
	</div>
</section>


@@include('blocks/footer.htm')
@@include('footer.htm')
