@@include('header.htm')
@@include('blocks/nav-2.htm')
@@include('blocks/page-title.htm', {
"title": "Business Analytics",
"description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quam."
})


<section class="section portfolio-single">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="project-info">
					<h3 class="mb-4">Drilling Into Data</h3>
					<p>Making uninformed decisions is always a shot in the dark. Properly formatted data reveals stories about customers, products, and the company as a whole.  This builds confidence around the path forward and allows decision makers to proceed with a solid foundation for future choices.</p>

					<p>Whether you need help diciphering the analytics on your web framework or need data formatted into reports, I can help take the data and uncover the story it tells. </p>
				</div>
			</div>

		</div>

		<div class="row mt-5">
			<div class="col-lg-12">
				<img src="images\blocks graph.jpg" alt="" class="img-fluid w-100">
			</div>
		</div>


		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="service-product.html" class="btn btn-dark">Product Development</a>
				<a href="service-appdesign.html" class="btn btn-dark">App Design</a>
			</div>
		</div>
	</div>
</section>


@@include('blocks/footer.htm')
@@include('footer.htm')
