@@include('header.htm')
@@include('blocks/nav-2.htm')
@@include('blocks/page-title.htm', {
"title": "App Design",
"description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quam."
})


<section class="section portfolio-single">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="project-info">
					<h3 class="mb-4">Building Your API</h3>
					<p>Providing access to your datasets and digital products is key for any digital solutions provider. Understanding the possibilities and limitations of the technologies in place is key to making decisions for the future of your offerings.</p>

					<p>With a background in Python, SQL, Django, and FastAPI, I can create powerful, dependable access to your database.</p>
				</div>
			</div>

		</div>

		<div class="row mt-5">
			<div class="col-lg-12">
				<img src="images\planning1.jpg" alt="" class="img-fluid w-100">
			</div>
		</div>


		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="service-analytics.html" class="btn btn-dark">Business Analytics</a>
				<a href="service-webdesign.html" class="btn btn-dark">Web Design</a>
			</div>
		</div>
	</div>
</section>


@@include('blocks/footer.htm')
@@include('footer.htm')
