@@include('header.htm')
@@include('blocks/nav-2.htm')
@@include('blocks/page-title.htm', {
"title": "Online Marketing",
"description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quam."
})


<section class="section portfolio-single">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="project-info">
					<h3 class="mb-4">Google and Paid Social</h3>
					<p>Having a great product that no one can find is frustrating. Especially when lack of web traffic effects your bottom line. Running paid social and Google Ads campaigns is central to e-commerce, but advertising account dashboards are deep trenches of sometimes indiscernible options that you don't have time to teach yourself. Paid ads are definitely a disciple unto themselves.</p>

					<p>Balancing the long and short game takes time to understand and constant testing can quickly get expensive. Formulating a solid strategy based on a clear understanding of the customers' needs and behavior cuts through the uncertainty of needless testing. A strong vision for the brand will lead to powerful branded campaigns continually running to create a continuous flow of traffic to your website. Combined with seasonal ads around holidays or specials creates a well-balanced, dynamic online presence for your brand.</p>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-12">
				<img src="images\advertising_word_cloud.jpg" alt="" class="img-fluid w-100">
			</div>
		</div>


		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="service-webdesign.html" class="btn btn-dark">Web Design</a>
				<a href="service-ecommerce.html" class="btn btn-dark">E-commerce</a>
			</div>
		</div>
	</div>
</section>


@@include('blocks/footer.htm')
@@include('footer.htm')
