@@include('header.htm')
@@include('blocks/nav-2.htm')
@@include('blocks/page-title.htm', {
"title": "E-Commerce Strategy",
"description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quam."
})


<section class="section portfolio-single">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="project-info">
					<h3 class="mb-4">Customer and Product Insight</h3>
					<p>Selling online and in person could not be less alike. Having a solid understanding of costs for a brick-and-mortar store doesn't necessarily lead to smart decisions when moving to the digital marketplace. A granular analysis of your product, your offer, and your customers is crucial to success in e-commerce.</p>

					<p>Using data and other tools, I can provide recommendations on achieving success with your KPIs as an online merchant.</p>
				</div>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-12">
				<img src="images\shopping cart.jpg" alt="" class="img-fluid w-100">
			</div>
		</div>


		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="service-digitalmarketing.html" class="btn btn-dark">Digital Marketing</a>
				<a href="service-product.html" class="btn btn-dark">Product Development</a>
			</div>
		</div>
	</div>
</section>


@@include('blocks/footer.htm')
@@include('footer.htm')
