@@include('header.htm')
@@include('blocks/nav-2.htm')
@@include('blocks/page-title.htm', {
"title": "Web Design",
"description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quam."
})


<section class="section portfolio-single">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="project-info">
					<h3 class="mb-4">Website Design</h3>
					<p>Not all marketing tools are created equal. One that stands apart as a powerful way to communicate your brand, your mission, and your priorities is an eye-catching website. Having a central place to direct customers, partners, and service-providers to find information about your organization is essential for efficient business operations and organization. Connecting logical structure and modern design provides an effortless user experience that will have a direct and positive effect on your web traffic.</p>

					<p>Whether you need assistance adding features, making design changes/updates, or fully re-imagining the way users connect with your brand online, I can provide well-formulated and brand-conscious solutions.</p>
				</div>
			</div>

		</div>

		<div class="row mt-5">
			<div class="col-lg-12">
				<img src="images\wire_frame.jpg" alt="" class="img-fluid w-100">
			</div>
		</div>


		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="service-appdesign.html" class="btn btn-dark">App Design</a>
				<a href="service-digitalmarketing.html" class="btn btn-dark">Digital Marketing</a>
			</div>
		</div>
	</div>
</section>


@@include('blocks/footer.htm')
@@include('footer.htm')
