@@include('header.htm')
<!-- Navgiation Start -->
@@include('blocks/nav-2.htm')
<!-- Navigation ENd -->

<!-- Testimonial Start -->
@@include('blocks/testimonial-2.htm')
<!-- Testimonial end -->

<!-- Cta Start -->
<!-- <section class="section-sm pt-0 cta">
	<div class="container">
		<div class="row align-items-center bg-dark p-5">
			<div class="col-lg-8">
				<h3 class="text-white mb-0">Want to know more about me?</h3>
			</div>
			<div class="col-lg-4 text-lg-right mt-5 mt-lg-0">
				<a href="#" class="btn btn-white">Contact me</a>
			</div>
		</div>
	</div>
</section> -->
<!-- Cta ENd -->

<!--  Footer Start-->
@@include('blocks/footer.htm')
<!-- Footer end -->
