<section class=" portfolio ">
	<div class="container">

		<div class="row shuffle-wrapper portfolio-gallery">
	      <div class="col-lg-6 col-6 mb-4 shuffle-item"  data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
		      	<div class="position-relative inner-box">
		          <div class="image position-relative ">
	               <img src="images\portfolio\shutterstock_376348762.jpg" alt="portfolio-pic" class="d-block">
	                <div class="overlay-box mx-auto my-auto">
		                  <div class="overlay-inner align-items-center">
		                    <div class="overlay-content">
								<a class="btn btn-click" href="portfolio-task_planner.html" role="button">Y-Knot</a>
		                    </div>
		                  </div>
	                </div>
	            </div>
		      </div>
	      </div>

	      <div class="col-lg-6 col-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
	        <div class="position-relative inner-box" >
	            <div class="image position-relative ">
	               <img src="images\portfolio\shutterstock_1459680491.jpg" alt="portfolio-image" class="d-block">
	                <div class="overlay-box mx-auto my-auto">
						  <div class="overlay-inner align-items-center">
		                    <div class="overlay-content">
								<a class="btn btn-click" href="portfolio-auto_haven.html" role="button">Grand Central Silver Mines</a>
		                    </div>
		                  </div>
			        </div>
			      </div>
		      </div>
	      </div>

	      <!-- <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images\camping backpackv3.jpg" alt="portfolio-image" class="d-block">
	                <div class="overlay-box mx-auto my-auto">
						  <div class="overlay-inner align-items-center">
		                    <div class="overlay-content">
								<a class="btn btn-click" href="portfolio-wanderlist.html" role="button">WanderList</a>
		                    </div>
		                  </div>
	                </div>
	            </div>
	        </div>
	      </div> -->
	</div>
</section>
