<!-- Header Start -->

<nav class="navbar navbar-expand-lg  main-nav " id="navbar">
	<div class="container">
	  <a class="navbar-brand" href="index.html">
	  	<img src="images\Sam Biz logo.png" alt="" class="img-fluid">
	  </a>

	  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
		<span class="ti-align-justify"></span>
	  </button>

		  <div class="collapse navbar-collapse" id="navbarsExample09">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item  active"><a class="nav-link" href="index.html">Home</a></li>

			  <li class="nav-item">
					<a class="nav-link" href="about.html">About Me</a>

			  </li>
			  <li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown02">
						<li><a class="dropdown-item" href="service-webdesign.html">Website Design</a></li>
						<li><a class="dropdown-item" href="service-digitalmarketing.html">Digital Marketing</a></li>
						<li><a class="dropdown-item" href="service-ecommerce.html">E-Commerce Development</a></li>
						<li><a class="dropdown-item" href="service-product.html">Product Management</a></li>
						<li><a class="dropdown-item" href="service-analytics.html">Business Analytics</a></li>
						<li><a class="dropdown-item" href="service-appdesign.html">App Design</a></li>
					</ul>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="portfolio-2.html">Portfolio</a>
		  	</li>
			  <li class="nav-item">
				<a class="nav-link" href="client-collection.html">Clients</a>
		  	</li>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="testimonial.html">Testimonials</a>

		</li>

			   <!-- <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown05">
						<li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
						<li><a class="dropdown-item" href="blog-sidebar.html">Blog with Sidebar</a></li>

						<li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
					</ul>
			  </li> -->
			   <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Header Close -->
