<section class="portfolio ">
	<div class="container">
		<div class="row justify-content-center">
	      <div class="col-lg-6 col-6 mb-4 shuffle-item">
		      	<div class="position-relative inner-box">
		          <div class="image position-relative ">
	               <img src="images\planning1.jpg" alt="portfolio-image" class="d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="portfolio-2.html">
	                      <h5 class="mb-0">Project</h5>
	                      <p>Portfolio</p>
	                    </a>
	                  </div>
	                </div>
	            </div>
		      </div>
	      </div>

	      <div class="col-lg-6 col-6 mb-4 shuffle-item">
	        <div class="position-relative inner-box" >
	            <div class="image position-relative ">
	               <img src="images\640-wooden-blocks.jpg" alt="portfolio-image" class="d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
		                    <a class="overlay-content" href="about.html">
		                      <h5 class="mb-0">All About</h5>
		                      <p>Me</p>
		                    </a>
	                	</div>
		            </div>
		        </div>
		      </div>
	      </div>
	</div>
		<div class="row justify-content-center">
	      <div class="col-lg-6 col-6 mb-4 shuffle-item">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images\640-megaphone.jpg" alt="portfolio-image" class=" d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="testimonial.html">
	                      <h5 class="mb-0">Partner</h5>
	                      <p>Brags</p>
	                    </a>
	                  </div>
	                </div>
	            </div>
	        </div>
	      </div>

	      <div class="col-lg-6 col-6 mb-4 shuffle-item">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/5.jpg" alt="portfolio-image" class="d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="client-collection.html">
	                      <h5 class="mb-0">Client</h5>
	                      <p>Achievements</p>
	                    </a>
	                  </div>
	                </div>
	            </div>
	        </div>
	      </div>
		</div>
	</div>
</section>
