<section class=" portfolio ">
	<div class="container">
		<!-- <div class="row mb-5 justify-content-center">
	      	<div class="col-10 text-center">
		        <div class="btn-group btn-group-toggle " data-toggle="buttons">
		          <label class="btn active ">
		            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="design" />Web Development
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="branding" />Business Strategy
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="illustration" />
		          </label>
		        </div>
	      	</div>
    	</div> -->

		<div class="row shuffle-wrapper portfolio-gallery">
	      <div class="col-lg-4 col-6 mb-4 shuffle-item"  data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
		      	<div class="position-relative inner-box">
		          <div class="image position-relative ">
	               <img src="images\portfolio\shutterstock_376348762.jpg" alt="portfolio-pic" class="d-block">
	                <div class="overlay-box mx-auto my-auto">
	                	<!-- <a class="portfolio-image popup-gallery" href="images\portfolio\shutterstock_376348762.jpg">
	                  		<i class="ti-plus"></i>
	                  	</a> -->
		                  <div class="overlay-inner align-items-center">
		                    <div class="overlay-content">
								<a class="btn btn-click" href="portfolio-task_planner.html" role="button">To Do Tracker</a>
		                    </div>
		                  </div>
	                </div>
	            </div>
		      </div>
	      </div>

	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
	        <div class="position-relative inner-box" >
	            <div class="image position-relative ">
	               <img src="images\portfolio\shutterstock_1459680491.jpg" alt="portfolio-image" class="d-block">
	                <div class="overlay-box mx-auto my-auto">
						  <div class="overlay-inner align-items-center">
		                    <div class="overlay-content">
								<a class="btn btn-click" href="portfolio-auto_haven.html" role="button">Auto Haven</a>
		                    </div>
		                  </div>
			        </div>
			      </div>
		      </div>
	      </div>

	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images\camping backpackv3.jpg" alt="portfolio-image" class="d-block">
	                <div class="overlay-box mx-auto my-auto">
						  <div class="overlay-inner align-items-center">
		                    <div class="overlay-content">
								<a class="btn btn-click" href="portfolio-wanderlist.html" role="button">WanderList</a>
		                    </div>
		                  </div>
	                </div>
	            </div>
	        </div>
	      </div>

	      <!-- <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;branding&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/m-3.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                	<a class="portfolio-image popup-gallery" href="images/portfolio/m-3.jpg">
	                  		<i class="ti-plus"></i>
	                  	</a>
	                  <div class="overlay-inner">
	                    <div class="overlay-content">
	                      <h5 class="mb-0">Portfolio</h5>
	                      <p>Design</p>
	                    </div>
	                  </div>
	                </div>
	            </div>
	        </div>
	      </div>

	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/bottle.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                	<a class="portfolio-image popup-gallery" href="images/portfolio/bottle.jpg">
	                  		<i class="ti-plus"></i>
	                  	</a>
	                  <div class="overlay-inner">
	                    <div class="overlay-content">
	                       <h5 class="mb-0">Modern web</h5>
	                      	<p>Seo</p>
	                    </div>
	                  </div>
	                </div>
	            </div>
	        </div>
	      </div>

	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;photo&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                	<a class="portfolio-image popup-gallery" href="images/portfolio/6.jpg">
	                  		<i class="ti-plus"></i>
	                  	</a>
	                  <div class="overlay-inner">
	                    <div class="overlay-content">
	                       <h5 class="mb-0">Agency web</h5>
	                      	<p>Design</p>
	                    </div>
	                  </div>
	                </div>
	            </div>
	        </div>
	      </div>
	    </div> -->
	</div>
</section>
