<section class="section service-home border-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="mb-2 ">Core Services.</h2>
				<p class="mb-5"></p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left" >
					<i class="ti-layout"></i>
					<h4 class="my-3"><a href="service-webdesign.html">Website Design</a></h4>
					<p>Delivering powerful, modern and eye-catching websites</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="450">
					<i class="ti-announcement"></i>
					<h4 class="my-3"><a href="service-digitalmarketing.html">Digital Marketing</a></h4>
					<p>Paid Social Advertising Campaigns, Google Ads, SEO and affiliate marketing</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="750">
					<i class="ti-layers"></i>
					<h4 class="my-3"><a href="service-ecommerce.html">E-Commerce Web Development</a></h4>
					<p>Setup of e-commerce stores including OMS, CMS, and fulfillment plugins</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item" data-aos="fade-left"  data-aos-delay="750">
					<i class="ti-anchor"></i>
					<h4 class="my-3"><a href="service-product.html">Product Management</a></h4>
					<p>Coordinating cross-departmental end-to-end production schedules</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="950">
					<i class="ti-video-camera"></i>
					<h4 class="my-3"><a href="service-analytics.html">Business Analytics</a></h4>
					<p>Synthesizing data sets into meaninful, easy to read reports</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="1050">
					<i class="ti-android"></i>
					<h4 class="my-3"><a href="service-appdesign.html">App Design</a></h4>
					<p>Secure RESTful APIs with robust functionality</p>
				</div>
			</div>
		</div>
	</div>
</section>
