<section class="section banner-3">
	<div class="container">
		<div class="row justify-content-center align-items-top">
			<div class="col-lg-12">
				<div class="profile mb-5">
					<img src="images/about-img.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-7">
				<h2>Sam Major</h2>
				<p class="lead mb-4">Software design is an exciting process filled with opportunities for both precision craft and creativity. I have sought my entire career to develop these two attributes. <br><br>Before becoming a software engineer, I focused my entire professional life on becoming an entrepreneur. I spent years developing the skills of a pastry chef. After more than a decade focusing on that trade, I opened my own bakery.  I was so excited to work without a net and get into all aspects of business with the full control of the business owner. It was an amazing opportunity to get real world experience in so many areas of a business including management, human resources, marketing, finances, operations, and sales. Entrepreneurship also helped me develop advanced skills in project management and conflict resolution. I am keenly interested in the ways software can systematize and expedite business operations to remove errors, decrease labor costs and increase profit. </p>

				<p class="mb-4"> </p>


				<img src="images\Sam Signature crop.png" alt="" class="img-fluid" height="80" width="135">
			</div>

			<div class="col-lg-5 align-top">
				<ul class="list-unstyled mt-3 mb-5 about-list">
					<li>- Web design and Frontend Development</li>
					<li>- Backend Development</li>
					<li>- Project Management</li>
					<li>- Strategy & System Planning</li>
				</ul>
				<a class="btn btn-main" role="button" href="Sam Major Resume.pdf"
				download="Sam Major Resume.pdf">
			   Download My Resume
			 </a>
			</div>
		</div>
	</div>
</section>
