<section class="section about border-top border-bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-5">
				<h3 class="mb-2">Work Experiences.</h3>
			</div>

			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-info mb-5">
							<span>September 2016 - October 2022</span>
							<h4 class="mb-3 mt-1">Owner at Dessert Unlimited</h4>
							<p>As an entrepreneur</p>
						</div>
						<div class="about-info">
							<span>January 2015 - August 2018</span>
							<h4 class="mb-3 mt-1">UI UX Designer at Envato</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec bibendum mauris. Curabitur quis vehicula leo. Vivamus leo ipsum</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
