<section class="section service-home border-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="mb-2 ">Tech Stack.</h2>
				<p class="mb-5"></p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="service-item">
					<h4 class="my-3">Backend</h4>
                    <ul class="list-unstyled mt-3">
                        <li>- Python</li>
                        <li>- Django</li>
                        <li>- FastAPI</li>
                        <li>- Microservices</li>
                        <li>- Message Passing</li>
                    </ul>
				</div>
			</div>
            <div class="col-lg-4">
				<div class="service-item">
					<h4 class="my-3">Frontend</h4>
                    <ul class="list-unstyled mt-3">
                        <li>- Javascript</li>
                        <li>- HTML</li>
                        <li>- CSS</li>
                        <li>- React</li>
                        <li>- Redux</li>
                        <li>- Bootstrap</li>
                        <li>- Tailwind</li>
                    </ul>
				</div>
			</div>
            <div class="col-lg-4">
				<div class="service-item mb-5">
					<h4 class="my-3">Databases</h4>
                    <ul class="list-unstyled mt-3">
                        <li>- SQLite</li>
                        <li>- PostgreSQL</li>
                        <li>- MongoDB</li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</section>
