<section class="section testimonial">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center mb-5">
				<h2 class="mb-2">Testimonials.</h2>
			</div>
		</div>


		<div class="row justify-content-center align-items-center testimonial-container">
			<div class="col-lg-8">
				<div class="owl-carousel owl-theme">
					<div class="testimonial-content item">
						<i class="ti-quote-left text-color"></i>
						<p>Partnering with Sam was an absolute pleasure. He never got frustrated explaining a concept to me and didn't mind pausing whatever he was working on to help solve any errors or blockers I encountered. It was easy to see how knowledgeable he was and I appreciated his consistency in showing up and working on our project. I would absolutely work with Sam again in the future.</p>

						<h4 class="mb-0">Janelle Kiker</h4>
						<span>Project Partner, Hack Reactor</span>
					</div>
					<div class="testimonial-content item">
						<i class="ti-quote-left text-color"></i>
						<p>Sam is a pleasure to work with. He acts as a leader and prioritizes collaboration with his teammates to ensure every voice is heard. He takes initiative immediately, has strong coding skills, and is always organized. Sam brings a calm, confident approach to his projects, which is an invaluable skill and I would be thrilled to work with him again.</p>

						<h4 class="mb-0">Brady Kautsch</h4>
						<span>Project Partner, Hack Reactor</span>
					</div>
				</div>
			</div>
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

<script type="text/javascript">
$('.loop').owlCarousel({
    center: true,
    items:2,
    loop:true,
    margin:10,
    responsive:{
        600:{
            items:4
        }
    }
});
</script>

		</div>
	</div>
</section>
